<div class="row top-buffer">
	<form action="/blocked_words" method="post">
		<div class="col-md-4">
		  <input type="text" class="form-control" name="word" />
		</div>
		<div class="col-md-3">
			<input type="submit">	
		</div>
	</form>
</div>

<%= @blocked_list %>
